@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "WorkSansRegular";
  src: url("../../public/fonts/WorkSans-Regular.ttf");
}
@font-face {
  font-family: "WorkSansMedium";
  src: url("../../public/fonts/WorkSans-Medium.ttf");
}
@font-face {
  font-family: "WorkSansItalic";
  src: url("../../public/fonts/WorkSans-Italic.ttf");
}
@font-face {
  font-family: "WorkSansSemiBold";
  src: url("../../public/fonts/WorkSans-SemiBold.ttf");
}
@font-face {
  font-family: "RalewaySemiBold";
  src: url("../../public/fonts/Raleway-SemiBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
/* Custom styles for Swiper navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #7157da; /* Change arrow color */
  font-size: 24px; /* Customize size */
  z-index: 10;
}
