@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "WorkSansRegular";
  src: url("../../public/fonts/WorkSans-Regular.ttf");
}
@font-face {
  font-family: "WorkSansMedium";
  src: url("../../public/fonts/WorkSans-Medium.ttf");
}
@font-face {
  font-family: "WorkSansItalic";
  src: url("../../public/fonts/WorkSans-Italic.ttf");
}
@font-face {
  font-family: "WorkSansSemiBold";
  src: url("../../public/fonts/WorkSans-SemiBold.ttf");
}
@font-face {
  font-family: "RalewaySemiBold";
  src: url("../../public/fonts/Raleway-SemiBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
/* Custom styles for Swiper navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #7157da; /* Change arrow color */
  font-size: 24px; /* Customize size */
  z-index: 10;
}

/* Custom Styles for Arrows */
.custom-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #f4f1e1; /* A soft beige color */
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.custom-arrow:hover {
  background-color: #d0c2a1; /* Darker beige/golden tone on hover */
}

.arrow-icon {
  font-size: 20px;
  color: #a68756; /* Goldish color for the arrow */
}

/* Specific styles for next and previous arrows */
.custom-next {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.custom-prev {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

/* Custom Dots Styling */
.custom-dots {
  display: flex !important;
  justify-content: center;
  gap: 8px;
  list-style: none;
  padding: 0;
}

.custom-dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #b0b0b0; /* Default gray color for inactive dots */
  transition: background-color 0.3s ease;
}

.custom-dots li.slick-active {
  background: #e5c887; /* Active dot color */
}

.custom-dots li button {
  display: none; /* Hide default button */
}
