@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "WorkSansRegular";
  src: url("../../public/fonts/WorkSans-Regular.ttf");
}
@font-face {
  font-family: "WorkSansMedium";
  src: url("../../public/fonts/WorkSans-Medium.ttf");
}
@font-face {
  font-family: "RalewaySemiBold";
  src: url("../../public/fonts/Raleway-SemiBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
